$o-user-website-values: map-merge($o-user-website-values, o-map-omit((
    'header-template': 'centered_logo',
    'footer-template': 'centered',
    'btn-secondary-outline': true,
    'font': 'Dosis',
    'google-fonts': ('Ubuntu', 'Dosis'),
    'google-local-fonts': null,
    'logo-height': 1.875rem,
    'fixed-logo-height': 2.1875rem,
    'menu-gradient': null,
    'header-boxed-gradient': null,
    'footer-gradient': null,
    'copyright-gradient': null,
    'color-palettes-name': 'default-7',
    'input-font-size': 1.125rem,
    'btn-font-size': 1.125rem,
    'header-font-size': 1.125rem,
    'footer-scrolltop': false,
    // -- hook --
)));


$o-user-color-palette: map-merge($o-user-color-palette, o-map-omit((
    'o-cc3-btn-primary': 'o-color-4',
    'o-cc4-bg': 'o-color-4',
    'o-cc5-btn-primary': 'o-color-4',
    'o-cc2-btn-primary': 'o-color-2',
    'o-cc2-headings': 'o-color-2',
    'o-cc1-btn-primary-border': 'o-color-4',
    'o-cc1-btn-primary': 'o-color-2',
    'o-cc1-text': 'o-color-5',
    'o-cc1-bg': null,
    'o-cc1-link': 'o-color-5',
    'o-cc1-headings': 'o-color-2',
    'o-cc1-btn-secondary': 'o-color-4',
    'o-cc4-btn-secondary': 'o-color-2',
    'o-cc1-btn-secondary-border': 'o-color-2',
    // -- hook --
)));



$o-user-theme-color-palette: map-merge($o-user-theme-color-palette, o-map-omit((
    'success': null,
    'info': null,
    'warning': null,
    'danger': null,
    // -- hook --
)));
